.stm_vacancies__inner:hover {
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}

/*------------review--------------*/

.testimony-wrap {
  display: block;
  position: relative;
  /* background: #f9faff; */
  text-align: center;
  padding: 0 20px;
  /* border: 1px solid rgba(0, 0, 0, 0.02); */
  /* // -webkit-box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%); */
  /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%); */
  border-radius: 5px;
  margin-top: 3rem;
}

.testimony-wrap .star {
  color: #fc9927;
}

.testimony-wrap .user-img {
  /* width: 80px;
  height: 80px; */
  position: relative;
  border-radius: 50%;
}
.testimony-wrap .name {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
  color: #000;
}
.testimony-wrap .position {
  font-size: 12px;
  color: #4986fc;
}
.section-sp1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*------------------review ends -------------------*/

/*--------------------number counter home page start-----------*/
.num-proect {
  font-size: 55px;
  font-weight: 400;
  line-height: 55px;

  color: #002e5b;
  margin-bottom: 5px;
}
.project-title {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 18px;
}
/*--------------------number counter home page end-----------*/

/*--------------------card css home page-----------------------------*/

.ht-box-images.style-05 {
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ht-box-images.style-05 .image-box-wrap .box-image .default-image {
  text-align: center;
}
.ht-box-images.style-05 .image-box-wrap {
  box-shadow: 0 18px 40px rgb(51 51 51 / 10%);
  background: #ffffff;
  border-radius: 5px;
  padding: 50px 30px 63px;

  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: 50px;
}
.ht-box-images.style-05 .image-box-wrap .box-image {
  position: relative;
  margin-bottom: 41px;
  height: 100px;
}

.ht-box-images.style-05 .image-box-wrap .box-image .hover-images {
  position: absolute;
  top: 0;
  left: 30%;
  opacity: 0;
  text-align: center;
  visibility: hidden;
}

.ht-box-images.style-05 .image-box-wrap .content .heading {
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 12px;

  text-align: center;
}
.ht-box-images.style-05:hover .image-box-wrap .content .heading {
  color: #ffffff;
  text-align: center;
}
.ht-box-images.style-05 :hover.image-box-wrap .content .txt1 {
  color: #ffffff;
}
.ht-box-images.style-05 .image-box-wrap .content .box-images-arrow {
  display: inline-block;
  margin-top: 27px;
  font-size: 14px;
  font-weight: 500;
}
.ht-box-images.style-05:hover .image-box-wrap {
  background: linear-gradient(
      rgb(48, 86, 211) 0%,
      rgb(48, 86, 211) 72%,
      rgb(48, 86, 211) 100%
    )
    0% 0% no-repeat padding-box padding-box transparent;
}
.ht-box-images.style-05 .image-box-wrap .content .box-images-arrow a {
  color: #086ad8;
}
.ht-box-images.style-05 :hover.image-box-wrap .content .box-images-arrow a {
  color: #ffffff;
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.ht-box-images.style-05:hover {
  transform: translateY(-5px);
}
.ht-box-images.style-05:hover .box-image .default-image {
  opacity: 0;
  visibility: hidden;
}
.ht-box-images.style-05:hover .box-image .hover-images {
  opacity: 1;
  visibility: visible;
}

/*--------------------card css home page end -----------------------------*/

/*-----------------------testimonials---------------------*/
.item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.testimony-wrap {
  display: block;
  position: relative;
  /* background: #fdfdfd; */
  padding: 0 20px;
  /* border: 1px solid rgba(0, 0, 0, 0.02); */
  /* -webkit-box-shadow: 0px 5px 21px -14px rgb(0 0 0 / 14%);
  -moz-box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14); */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px; */
  border-radius: 5px;
  margin-top: 3rem;
}
.testimony-wrap .text .star {
  color: #fc9927;
}
.testimony-wrap .user-img {
  /* width: 80px;
  height: 80px; */
  position: relative;
  border-radius: 50%;
}
.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.testimony-wrap .name {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
  color: #000000;
}
.testimony-wrap .position {
  font-size: 12px;
  /* color: #cccccc; */
  color: #4986fc;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.workclr-hana {
  background-image: var(--img);
}
/*----------------testimonials ends------------------*/

/*----------------------------case study home page section----------------------*/
.projects-slider__container .projects-wrap.style-01 {
  display: block;
}
.projects-wrap.style-01 .projects-image-box {
  margin: 20px 15px 35px;
  transition: all 0.5s ease-in-out;
}

.projects-wrap.style-01 .projects-image-box {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  /* -webkit-box-shadow: 0 18px 40px -10px rgb(51 51 51 / 10%); */
  box-shadow: 0 18px 40px -10px rgb(51 51 51 / 10%);
  position: relative;
  margin-bottom: 30px;
  /* margin: 20px 15px 35px; */
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.projects-wrap.style-01 .content {
  padding: 25px 20px 94px;
  padding-bottom: 88px;
}
.projects-wrap.style-01 .content .heading {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 2px;
  color: #333 !important;
}
.projects-wrap.style-01 .content .post-categories {
  color: #086ad8;
  margin-bottom: 2px;
}
.projects-wrap.style-01 .content .text12 {
  color: #696969;
  margin-top: 13px;
}
.box-projects-arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 56px;
  line-height: 55px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border-top: 1px solid #eee;
  color: #086ad8;
}

.box-projects-arrow::before {
  background-color: #086ad8;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transform: translateY(100%);

  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}
.projects-image-box:hover {
  transform: translateY(-15px);
}
/*----------------------------case study home page section----------------------*/

/*---------mmission vision and values-------------*/

.mshado {
  box-shadow: 0 0 25px 0 rgb(29 25 0 / 25%);
  /* border-radius: 10px; */
}

/*---------mmission vision and values-------------*/

/*---------Our business vvr learning-------------*/
.vvr-content p {
  line-height: 1.5em;
}
@media screen and (min-width: 60em) {
  .middle-content p {
    font-size: 22px;
  }
}
.workbtnsd {
  border: 1px solid #c2c2db;
  border-radius: 40px;
  opacity: 1;
  margin-top: 1.5em;
}
.workbtnsd {
  letter-spacing: 0.18px;
  color: #02021e;
  font-size: 18px;
}
.ant-btn:not([disabled]):hover {
  text-decoration: none;
}

.cases-video-img .video {
  padding: 20px;
}

@media screen and (min-width: 375px) {
  .cases-video-img .video {
    flex-basis: calc(23.77049px + 60.32787vw);
  }
}
.cases-video-img .video {
  /* padding: calc(-2.13115px + 5.90164vw); */
  padding-left: 5rem;
  padding-top: 2rem;
  padding-right: 5rem;
}
.cases-video-img .video {
  flex-grow: 0;
  flex-shrink: 0;
  /* flex-basis: 250px; */
}

.cases-video-img .video video {
  display: block;
  max-height: 100%;
  max-width: 100%;
  /* border: 5px solid #fc9927; */
  border-radius: 5px;
}

.react-multi-carousel-track {
  transition: -webkit-transform 3000ms ease 0s !important;
}
@media only screen and (max-width: 600px) {
}
/*---------Our business vvr learning-------------*/

/*---------------career inside page ----------*/
.consulting-custom-title {
  font-size: 36px;
  line-height: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1px;
  word-spacing: 0px;
  text-transform: none;
}
.wpb_text_column.wpb_content_element p {
  color: #222;
}
.wpb_wrapper p {
  line-height: 26px;
  margin: 0 0 15px;
  font-size: 15px;
  font-weight: 400;
  font-family: inherit;
}
.about_vacantion {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  background: #f3525a;
  padding: 23px 32px;
  margin: 0 0 80px;
  color: #fff;
}
.about_vacantion .info {
  display: table-cell;
  line-height: 26px;
  padding: 0 10px;
  font-size: 13px;
}
.about_vacantion .info .icon {
  float: left;
  width: 30px;
}

.about_vacantion .info .text-hiring {
  overflow: hidden;
  display: grid;
}
.vvr_vacancies__innerpage {
  padding: 30px 25px 25px;
  background-color: #f2f2f2;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.vvr_vacancies__innerpage .info.department {
  margin-bottom: 40px;
}

.vvr_vacancies__innerpage .read-more {
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -moz-box-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  align-self: flex-end;
}
.vvr_vacancies__innerpage .info {
  font-size: 14px;
  width: 100%;
}
.wpb_text_column.wpb_content_element ul {
  margin: 0 0 20px;
  list-style: none;
  padding: 0;
}
.wpb_text_column.wpb_content_element ul li {
  position: relative;
  /* padding: 0 0 0 24px; */
  margin: 0 0 8px;
  line-height: 24px;
  color: #333;
  border: none;
  font-size: 14px;
}
.vc_column_container {
  padding-left: 0;
  padding-right: 0;
}
.vc_column_container > .vc_column-inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.vc_column-inner::before {
  content: " ";
  display: table;
}
.vc_custom_1456122016220 {
  border-top-width: 3px !important;
  padding-top: 30px !important;
  border-top-color: #222222 !important;
  border-top-style: solid !important;
}
.vc_column_container > .vc_column-inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.stm_sidebar {
  position: relative;
}
.vc_custom_1451998133493 {
  margin-bottom: 30px !important;
}

.vc_row {
  margin-left: -15px;
  margin-right: -15px;
}
.vc_row:before {
  content: " ";
  display: table;
}
@media (min-width: 768px) {
  .vc_col-sm-12 {
    width: 100%;
  }
}
.stm_sidebar .wpb_content_element {
  margin: 0 0 40px;
}

.stm_sidebar .wpb_content_element .career_widget {
  margin: 0;
}
.widgetcareer_widget.career_widget_nav_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.career_widget.career_widget_nav_menu ul li {
  font-weight: 600;
  border-bottom: 1px solid #fff;
  background: #f2f2f2;
  margin: 0;
  padding: 0 23px 0 0;
  color: #333;
}
.wpb_content_element ul li {
  position: relative;
  line-height: 22px;
}
.career_widget.career_widget_nav_menu ul li a {
  color: #333;
  text-decoration: none !important;
  border-left: 5px solid transparent;
  display: inline-block;
  padding: 14px 0 14px 18px;
  transition: all 0.3s ease;
}
.career_widget.career_widget_nav_menu ul li:hover > a {
  border-left-color: #3763eb;
}
.stm_sidebar .third_bg_color {
  margin-right: 0 !important;
  margin-bottom: 30px !important;
  margin-left: 0 !important;
}
.third_bg_color {
  background-color: #f3525a !important;
}
.stm_sidebar .third_bg_color .vc_column-inner {
  padding-top: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 40px !important;
  padding-left: 30px !important;
}
.stm_sidebar .third_bg_color .vc_column-inner {
  padding-top: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 40px !important;
  padding-left: 30px !important;
}
.vc_custom_1604469271077 {
  margin-bottom: 9px !important;
}
.vc_btn3-container.vc_btn3-inline {
  display: inline-block;
  vertical-align: top;
}
.vc_general.vc_btn3.vc_btn3-color-white.vc_btn3-style-flat {
  color: #333;
  border-color: #fff;
  background: #fff;
  border-width: 3px;
}
.vc_general.vc_btn3.vc_btn3-size-sm.vc_btn3-icon-left:not(.vc_btn3-o-empty)
  .vc_btn3-icon {
  left: 15px;
  font-size: 19px;
  height: 19px;
  line-height: 19px;
  color: #fff;
  transition: all 0.3s ease;
}
.vc_general.vc_btn3.vc_btn3-size-sm.vc_btn3-icon-left:not(.vc_btn3-o-empty) {
  /* padding-left: 42px; */
}
.vc_general.vc_btn3.vc_btn3-size-sm.vc_btn3-style-flat {
  padding: 5px 18px;
  font-weight: 600;
}
.vc_general.vc_btn3.vc_btn3-color-white.vc_btn3-style-flat .vc_btn3-icon {
  color: #333 !important;
}
/* .vc_btn3.vc_btn3-icon-left .vc_btn3-icon {
  display: block;
  position: absolute;
  top: 50%;

  transform: translate(0, -50%);
} */
.vc_btn3.vc_btn3-icon-left {
  text-align: left;
}
.vc_btn3.vc_btn3-icon-left {
  position: relative;
}
.vc_general.vc_btn3 {
  display: inline-block;
  margin-bottom: 0;
  box-shadow: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  box-sizing: border-box;
  word-wrap: break-word;
  user-select: none;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.career_menu {
  padding-left: 0rem;
}

/*---------------career inside page ----------*/
